*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    height: 50px;
    width: 100%;
    background: none;
}

.btns1{
    background: none;
    margin-top: 16px;
    margin-left: 18%;
    height: 30px;
    width: 85px;
    border-radius: 6%;
    border: 0ch;
    cursor: pointer;
    font-size: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    transition: background-color 0.9s;
}

.btns1:hover{
    background-color: rgb(190, 208, 215);
    opacity: 0.8;
}

.btns2{
    background: none;
    margin-top: 16px;
    margin-left: 0%;
    height: 30px;
    width: 85px;
    border-radius: 6%;
    border: 0ch;
    cursor: pointer;
    font-size: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    transition: background-color 0.9s;
}

.btns2:hover{
    background-color: rgb(190, 208, 215);
    opacity: 0.8;
}

.btns3{
    background: none;
    margin-top: 16px;
    margin-left: 0%;
    height: 30px;
    width: 105px;
    border-radius: 6%;
    border: 0ch;
    cursor: pointer;
    font-size: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    transition: background-color 0.9s;
}

.btns3:hover{
    background-color: rgb(190, 208, 215);
    opacity: 0.8;
}

.btns4{
    background: none;
    margin-top: 16px;
    margin-left: 170px;
    height: 30px;
    width: 99px;
    border-radius: 6%;
    border: 0ch;
    cursor: pointer;
    font-size: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    transition: background-color 0.9s;
}

.btns4:hover{
    background-color: rgb(190, 208, 215);
    opacity: 0.8;
}

.fullbody{
    padding-top: 0%;
    background: url('M3-Homepage-Desktop-LHD.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
} 

.tesla{
    padding-top: 20px;
    margin-left: 50px;
    width:120px; 
    height:19px;
    cursor: pointer;
    float: left;
}

.modelname{
    margin-left: 44%;
    padding-top: 160px;
    font-size: 290%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.drive{
    padding-top: 10px;
    padding-left: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    cursor: pointer;
}

.order{
    margin-top: 31%;
    margin-left: 31%;
    width: 19%;
    height: 40px;
    border: 0ch;
    border-radius: 4%;
    background-color: rgba(23, 26, 32, 0.8);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

.inventory{
    margin-top: 31%;
    margin-left: 1%;
    width: 19%;
    height: 40px;
    border: 0ch;
    border-radius: 4%;
    background-color: rgba(244, 244, 244, 0.65);
    cursor: pointer;
    color: rgba(23, 26, 32, 0.8) ;
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.fullbody2{
    padding-top: 0%;
    background: url('IMG_20221210_155327.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    float: left;
} 

.fullbody3{
    padding-top: 0%;
    background: url('model s.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    float: left;
} 

.fullbody4{
    padding-top: 0%;
    background: url('model x.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    float: left;
} 

.fullbody5{
    padding-top: 0%;
    background: url('solar panels.jpeg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    float: left;
} 

.fullbody6{
    padding-top: 0%;
    background: url('solar roof.webp');
    height: 100vh;
    width: 100%;
    background-size: cover;
    float: left;
} 

.roof{
    padding-top: 10px;
    padding-left: 43%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 90%;
    cursor: pointer;
}

.fullbody7{
    padding-top: 0%;
    background: url('accessories1.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    float: left;
} 

.accessories{
    margin-left: 42%;
    padding-top: 130px;
    font-size: 290%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.shop{
    margin-top: 31%;
    margin-left: 41%;
    width: 19%;
    height: 40px;
    border: 0ch;
    border-radius: 4%;
    background-color: rgba(0, 0, 0, 0.925);
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

footer{
    margin-top: 50px;
    height: 60px;
    width: 100%;
}

.footertext{
    background : none;
    height: 30px;
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
    cursor: pointer;
    color: rgba(23, 26, 32, 0.8);
    border-radius: 6%;
    border: 0ch;
    float: left;
    transition: background-color 0.9s;
}

.footertext:hover{
    background-color: rgb(190, 208, 215);
    opacity: 0.8;
}

.footertext1{
    background : none;
    height: 30px;
    margin-left: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 75%;
    cursor: pointer;
    color: rgba(23, 26, 32, 0.8);
    border-radius: 6%;
    border: 0ch;
    float: left;
    transition: background-color 0.9s;
}

.footertext1:hover{
    background-color: rgb(190, 208, 215);
    opacity: 0.8;
}

